{% include "adminheader.html"%}

	<div class="container-fluid px-md-5">
		<div class="row justify-content-between">
			<div class="col-md-12 order-md-last">
				<div class="row">
					<div class="col-md-12 text-center">
						<a class="navbar-brand" href="/">WELCOME </a>
					</div>
					<div class="col-md-6 d-md-flex justify-content-end mb-md-0 mb-3">
						<form action="#" class="searchform order-lg-last">
				  
				</form>
					</div>
				</div>
			</div>
			<div class="col-md-4 d-flex">
				<div class="social-media">
				
		</div>
	</div>
	</section> 
  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  <script src="{{ url_for('static', filename='js/web3.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/truffle-contract.js') }}"></script>
 
	</body>
</html>




