<!DOCTYPE html>
<html lang="en">

<head>
    <title>Fake Product Identification</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,700" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}" />
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/web3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/truffle-contract.js') }}"></script>
</head>

<body>

    <div class="container">
       
        {%if (x=="genuine")%}
        <h2>Query Product</h2>
            <a href="{{qr_data}}">
                <button type="submit" class="btn btn-warning btn-register" id="register">
                    Get Product
                </button>
            </a>    
        {%else%}
            <h1>Fake product</h1>
        {%endif%}
    </div>





    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/web3.min.js"></script>
    <script src="js/truffle-contract.js"></script>
    <script src="js/sellerDataApp.js"></script>
</body>

</html>